body {
    width: 100%
    background-color: hsl(35%, 36%, 95%);
}
/* Style the navigation menu */
.topnav {
  padding: 0px 10px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #367DA2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 5vw;
  display: block;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
}

a {
    text-decoration: none;
    color: #367DA2;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 5vw;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    font-weight: normal;
    color: #367DA2;
      padding: 14px 16px;
}
h4 {
    font-size: 18px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
}
p {
    font-size: 4vw;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    line-height: 1.4em;
    color: #333;
      padding: 14px 16px;
}
ul {
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    color: #333;
}
ol {
    font-size: 14px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Arial, monospace;
    color: #333;
}
code {
    white-space: pre-wrap;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* Style page content */
.container {
  padding: 14px 16px;

}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}
